h1,
h2 {
  font-size: 14px;
  font-weight: 500;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 20px;
  max-width: 190px;
  height: 100%;
}

.card__cover img {
  height: 270px;
  width: 180px;
  border-radius: 14px;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  height: 100%;
}

.card__title {
  letter-spacing: normal;
}

.card__author {
  color: rgb(105, 105, 105);
}
.card__rating {
  text-align: right;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 5px;
}
.container-author,
.container-status,
.container-note {
  justify-content: left;
}
.container-rating {
  justify-content: right;
}
.card__status {
  text-wrap: nowrap;
}

.no-rating {
  color: gray;
}
